body { 
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: bisque;
    background-color: brown;
    font-size: 40px;
}

.outcome, .round-result {
    margin-top: -45px;
}

.visuals {
    display: flex;
    font-size: 70px;
    margin-top: -75px;
    gap: 80px;
}

.choices {
    display: flex;
    gap: 6px;
}

button {
    background-color: #951f1f;
    box-shadow: 8px 7px 11px 0px;
}

.btn {
    font-size: 70px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset {
    width: 120px;
    height: 70px;
    font-size: 33px;
    color: bisque;
    box-shadow: 8px 7px 11px 0px black;
    animation-name: reset;
    animation-duration: 1900ms;
    animation-iteration-count: infinite;
}

@keyframes reset {
    0% {color:red }
    14% { color: orange; }
    28% {color: yellow;}
    42% { color: green; }
    56% {color: blue;}
    70% { color: indigo;}
    84% {color: violet;}
} 

.footer {
    font-size: 15px;
}

@media (max-width: 550px) {
    .title {
      font-size: 18px;
    }
}