
body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: bisque;
    background-color: brown;
    font-size: 40px;
}

.outcome, .round-result {
    margin-top: -45px;
}

.visuals {
    display: flex;
    font-size: 70px;
    margin-top: -75px;
    gap: 80px;
}

.choices {
    display: flex;
    gap: 6px;
}

button {
    background-color: #951f1f;
}

.btn {
    font-size: 70px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset {
    width: 120px;
    height: 70px;
    font-size: 33px;
    color: bisque;
}

.footer {
    margin-top: -378px;
    font-size: 61px;
    color: #00000033;
}