
body { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: bisque;
    background-color: brown;
    font-size: 40px;
}

.visuals {
    display: flex;
    font-size: 70px;
    margin-top: -50px;
    gap: 80px;
}

.choices {
    display: flex;
    gap: 6px;
}

button {
    background-color: #951f1f;
}

.btn {
    font-size: 70px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset {
    width: 120px;
    height: 70px;
    font-size: 33px;
    color: bisque;
}